<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CleanPlanetSimple"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".PartnersListActivity" />
        <activity android:name=".PartnerEditActivity" />
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".ServiceHistoryActivity" />
        <activity android:name=".ExportActivity" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".PartnerOrdersActivity" />
        <activity android:name=".OrdersManagementActivity" />
        <activity android:name=".SupplyOrdersActivity" />
        <activity android:name=".UsersManagementActivity" />
        <activity android:name=".ServicesActivity" />
        <activity android:name=".CreateOrderActivity" />

        <!-- ДОБАВЛЕНЫ НОВЫЕ АКТИВНОСТИ ДЛЯ ПОСТАВЩИКОВ -->
        <activity android:name=".SuppliersListActivity" />
        <activity android:name=".SupplierEditActivity" />

    </application>

</manifest>